.product-info {
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
  }

  &__price {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
  }

  &__credit-btn {
    margin-top: 16px;
  }
}
