.review-rating {

  &__stars {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  &__star {
    fill: #BDBEC2;
    opacity: 0.7;
  }

  &__input {
    display: none;

    &:checked + .review-rating__label .review-rating__star,
    &:checked ~ .review-rating__label .review-rating__star,
    &:hover + .review-rating__label .review-rating__star,
    &:hover ~ .review-rating__label .review-rating__star {
      fill: #D12136;
    }
  }

  &__label {
    cursor: pointer;

    &:hover &__star,
    &:hover + .review-rating__label .review-rating__star,
    &:hover ~ .review-rating__label .review-rating__star {
      fill: #D12136;
    }
  }
}
