.slider-list {
  @include reset-list();
  overflow: hidden;
  height: 375px;

  &__item {
    display: none;

    &--active {
      display: block;
      opacity: 1;
      //animation: show-up 1.5s ease;
    }
  }
}
